*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



h1{
  color:rgb(243, 10, 10);
  padding-top: 10vh;
}
.field{
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(227, 236, 250);
  box-shadow: rgb(56, 56, 56) 5px 10px 15px 10px;
  margin: 0 auto;
}
.elem{
  height: 50px;
  width:50px;
  padding:5px;
}
.snakeBody{
  background-color: rgb(145, 152, 255);
  border-radius: 50%;
}
.snakeHead{
  background-color: rgb(25, 0, 139);
  border-radius: 50%;
}
.mouse{
  background-color: rgb(139, 0, 0);
  border-radius: 10%;
}
